











.page {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.navbar a{
  font-weight: 600;
  color: #2e2e2e;
  text-decoration: none;
}